

nav{
    background-color: rgb(17, 27, 61);
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
}
.navbar-items{ 
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: right;
    align-items: center;
}
.navbar-items li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-right: 25px;
    padding-left: 16px;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.6s;
}

.navbar-items li a:hover{
    color: #c4b5fd;
}

.logo{
    height: 120px;
    align-self: center;
    padding: 4px 8px;
}


.header-title{
    font-family:"Kanit";
    background-color: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 56px;
    font-weight: bolder;
    position: relative;
    inset: 0;

}
.header-subtitle{
    font-family: "kanit";
    background-color: #1e1b4b;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 28px;
}




.banner{
    height: 400px;
    display: flex;
   
    position: relative;
    inset: 0;
}

.banner::before{
    content:'';
    background-color: rgb(45, 45, 45);
    background-image: url('../img/banner\ tech.jpg');
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 79%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: 1s;
}

.title-subtitle{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 0px 18px;
    position: relative;
}

#about-the-event{
    background-color: #e5e5e5;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1920px;
    min-width: 320px;
    height: 100%;
    
}

#about-the-event h2{
    
    align-self: center;
    max-width: 560px;
    min-width: 200px;
    height: 100%;
    max-height: auto;
    min-height: 100px;
    
    background-image: linear-gradient(to right, #075985, #0284c7);
    color: white;
    padding: 12px;
    margin: 24px;
    border-radius: 8px;
}

#img-Tech{
    border-radius: 8px;
    max-width: 840px;
    min-width: 200px;
    margin: 24px;
    aspect-ratio: auto;
}

#about-the-event p {
    font-size: 17px;
    padding: 16px 32px 16px; 
}

.workshops{
    position: relative ;
    color: white;
    padding: 16px 32px;
}

.workshops::before{
    content: '';
    background-color: rgb(17, 27, 61);
    background-image: url(../img/banner\ tech\ conference\ 2.jpg);
    background-size: cover;
    
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: 1s;
}

.workshops:hover::before{
    opacity: 88%;
}

.workshop-text h3{
    color: white;
    font-size: 26px;
    padding-bottom: 12px;
    position: relative;
}

.workshop-text h4{
    color: #c4b5fd;
    font-size: 20px;
    position: relative;
}

.workshop-text p{
    color: white;
    font-size: 17px;
    padding-bottom: 12px;
    padding-top: 8px;
    position: relative;
}

.workshop-text li{
    font-size: 17px;
    list-style-type: none;
    padding-top: 8px;
    position: relative;
}

.data-to-fill{
    background-color: #e5e5e5;
    padding: 16px 32px 16px; 
    margin: 8px;
}


.caption-title{
    font-size: 26px;
}

.register-label {
    display: flex;
    flex-direction: column;
}

.register-label label{
    font-size: 16px;
    padding: 6px 0px;

}

.register-label span{
    font-size: 12px;
}

.register-label input{
    border-radius: 5px;
    width: 380px;
}

.data-to-fill p{
    font-size: 16px;
    padding: 8px 0px;
   
}


.checkbox{
    padding-bottom: 8px;
    display: flex;
    flex-direction: row;
    
}

.checkbox label{
    padding-right: 56px;
    padding-left: 8px;
}
.radio-buttons{
    padding-bottom: 24px;
}
.radio-buttons label{
    padding-right: 32px;
}

.button{
    width: 80px;
    height: 40px;
    background-color: #10b981;
    color: white;
    border-radius: 8px;
}


